html,body{
    border:none; padding:0; margin:0;
    background:#FFFFFF;
    color:#202020;
}
body{
    text-align:center;
}
.meter{
    margin: 2vh 0vh 0vh 0vh;
}
h1{
    color:#404040;
}
#startBtn{
    width:18em; height:3em;
    color: #FFFFFF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: -10vh 0 0 0;
}
#stopBtn {
    width:18em; height:3em;
    color: #FFFFFF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: -10vh 0 0 0;
}

#redirectBtn {
    width:18em; height:3em;
    color: #FFFFFF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10vh 0 0 0;
}

.links{
    color:gray;
    font-size: 0.8em;
    margin: -2vh 0 0 0;
}

#test{
    margin-top:2em;
    margin-bottom:3em;
}
div.testArea{
    display:inline-block;
    width:16em;
    height:12.5em;
    position:relative;
    box-sizing:border-box;
}
div.testArea2{
    display:inline-block;
    width:14em;
    height:7em;
    position:relative;
    box-sizing:border-box;
    text-align:center;
}
div.testArea div.testName{
    position:absolute;
    top:0.1em; left:0;
    width:100%;
    font-size:1.4em;
    z-index:9;
}
div.testArea2 div.testName{
    display:block;
    text-align:center;
    font-size:1.4em;
}
div.testArea div.meterText{
    position:absolute;
    bottom:1.55em; left:0;
    width:100%;
    font-size:2.5em;
    z-index:9;
}
div.testArea2 div.meterText{
    display:inline-block;
    font-size:2.5em;
}
div.meterText:empty:before{
    content:"0.00";
}
div.testArea div.unit{
    position:absolute;
    bottom:2em; left:0;
    width:100%;
    z-index:9;
}
div.testArea2 div.unit{
    display:inline-block;
}
div.testArea canvas{
    position:absolute;
    top:0; left:0; width:100%; height:100%;
    z-index:1;
}
div.testGroup{
    display:block;
    margin: 0 auto;
}
@media all and (max-width:40em){
    body{
        font-size:0.8em;
    }
}
.modal-body-calc{
    align-self: center;
    height: 70vh;
    overflow: auto;
}

#guideTable-div {
    margin-top: 5vh;
}

#guideTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50em;
    margin-left: auto;
    margin-right: auto;
}

#guideTable th:nth-child(2) {
    background-color: rgb(0, 231, 0);
}

#guideTable th:nth-child(3) {
    background-color: rgb(91, 223, 230);
}

#guideTable th {
    border: 2px solid #000000;
    text-align: center;
    padding: 8px;
    width: 2em; height: 3.5em;
    color: #FFFFFF;
    font-size: 0.8em;
}

#guideTable td {
    border: 2px solid #000000;
    text-align: center;
    padding: 8px;
    font-size: 0.8em;
}

#div-uploadTime {
    overflow: auto;
    height: 25em;
    width: 40em;
    border-spacing: 5px 10px;
    margin-left: auto;
    margin-right: auto;
}

#calcTable{
    font-family: arial, sans-serif;
    width: 40em;
    border-collapse: separate;
    border-spacing: 15px 15px;
}

#calcTable th {
    outline-color: #ffffff;
    outline-style: solid;
    text-align: center;
    background-color: lightgray;
    height: 5em;
    width: 2.5em;
    font-size: 0.7em;
    position: sticky;
    top: 0;
}

.calcTable-td-col1 { 
    text-align: center;
    background-color: rgb(237, 220, 220);
    height: 5em;
    font-size: 0.7em;
}

.calcTable-td-custom {
    outline-color: #f6f0f0bd;
    outline-style: solid;
    outline-width: 2px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 5em;
    font-size: 0.7em;
}
